extend layout

block content
  .adminPageHeader
    h1 Admin Buttons
  .div
    button.adminButtons(id="startVideosBtn") Start Videos
  .div
    button.adminButtons(id="pauseVideoBtn") Pause Video
  .div
    button.adminButtons(id="skipVideoBtn") Skip Video
  .div
    button.adminButtons(id="resetVideosBtn") Reset Videos

  .div
    button.adminButtons(id="resetSkipVotesBtn") Reset Votes
  .div
    button.adminButtons(id="resetMessagesBtn") Reset Messages

block scripts
  script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
  script.
    var fb = new Firebase('https://lounge-hub.firebaseio.com/');

    var resetMessages = $('#resetMessagesBtn');
    var resetVideos = $('#resetVideosBtn');
    var resetVotes = $('#resetSkipVotesBtn');
    var startVideos = $('#startVideosBtn');
    var skipVideo = $('#skipVideoBtn');
    var pauseVideo = $('#pauseVideoBtn');

    startVideos.click(function() {
      fb.update({
        startVideos: 1
      });
      setTimeout(function() {
        fb.update({
          startVideos: 0
        });
      }, 1000);
      
    }); 

    pauseVideo.click(function() {
      fb.child('pauseVideo').update({
        pauseVideo: 1
      });
      setTimeout(function() {
        fb.update({
          pauseVideo: 0
        });
      }, 1000);
      
    }); 

    resetVideos.click(function() {
      fb.update({
        resetVideos: 1,
        likeCounter: 0,
        skipCounter: 0
      });
      setTimeout(function() {
        fb.update({
          resetVideos: 0
        });
      }, 1000);
    });

    skipVideo.click(function() {
      fb.update({
        skipVideo: 1,
        likeCounter: 0,
        skipCounter: 0
      });
      setTimeout(function() {
        fb.update({
          skipVideo: 0
        });
      }, 1000);
    });

    resetMessages.click(function() {
      fb.child('messages').remove(); 
    });

    resetVotes.click(function() {
      fb.update({
        likeCounter: 0,
        skipCounter: 0
      });
    });