extend layout

block content
  .videocontainer
    div(id="player") 
    .votebuttons
      button(id="likeBtn", class="likeBtn") LIKE
      button(id="skipBtn", class="skipBtn") VOTE TO SKIP
    .skipCounter

block sidebar
  .outputwidget
    .outputbox
      ul(id = "messages")
  .inputwidget  
    .inputbox
      input.formcontrol(type = "text", id= "nameInput", placeholder = "Nickname", maxlength = 20)
      input.formcontrol(type = "text", id= "messageInput" placeholder = "Message", maxlength = 50)

block scripts
  script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
  script.
    var fb = new Firebase('https://flickering-inferno-2389.firebaseio.com/');

    var tag = document.createElement('script');

    var likeBtn = $('#likeBtn');
    var skipBtn = $('#skipBtn');
    var numSkipVotesRequired = 3;

    var skipSelected = 0;
    var skipCounterOld = 0;
    var dontplay = 0;

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '315',
        width: '560',
        playerVars: {
          listType: 'playlist',
          list: 'PLFgquLnL59alZ5m7XEk44TI-FTrfNwL2B',
          //- controls: 0,
          //- showinfo: 0
        },
      });
    }

    fb.child('startVideos').on('value', function(snapshot) {
      if(snapshot.val() == 1) {
        player.playVideo();
        resetButtons;
      }
    });

    fb.child('skipCounter').on('value', function(snapshot) {
      console.log(snapshot.val());
      if(snapshot.val() >= numSkipVotesRequired) {
        skipCounterOld = 0;
        player.nextVideo();
        resetButtons();
        dontplay = 1;
        fb.child('skipCounter').transaction(function(currentValue) {
          return 0;
        });
        
      }
      else if(skipCounterOld == numSkipVotesRequired - 1 && snapshot.val() == 0 && dontplay == 0) {
        skipCounterOld = 0;
        player.nextVideo();
        resetButtons();
      }
      else {
        dontplay = 0;
        skipCounterOld = snapshot.val();
      }
      updateSkipCountRequired(snapshot.val());
    });
    
    likeBtn.click(function() {
      if(skipSelected) {
        decSkip();
      }
      resetButtons();
      $(this).prop('disabled', true);
      $(this).attr('class', 'btnSelected');
    });
    
    skipBtn.click(function() {
      resetButtons();
      $(this).prop('disabled', true);
      $(this).attr('class', 'btnSelected');
      skipSelected = 1;
      incSkip();
    });

    function resetButtons() {
      likeBtn.prop('disabled', false);
      likeBtn.attr('class', 'likeBtn');
      skipBtn.prop('disabled', false);
      skipBtn.attr('class', 'skipBtn');
      skipSelected = 0;
    }

    function incSkip() {
      // increment the counter
      fb.child('skipCounter').transaction(function(currentValue) {
          return (currentValue||0) + 1
      });
    }

    function decSkip() {
      // increment the counter
      fb.child('skipCounter').transaction(function(currentValue) {
          return (currentValue||0) - 1
      });
    }

    function updateSkipCountRequired(ss) {
      if(ss != numSkipVotesRequired) {
        var counter = numSkipVotesRequired - ss;
        $('.skipCounter').text(counter||0).append(" votes required to skip");
      }
    }

  script.
    var fb = new Firebase('https://flickering-inferno-2389.firebaseio.com/');

    var messageField = $('#messageInput');
    var nameField = $('#nameInput');
    var messageList = $('#messages');

    messageField.keypress(function (e) {
      if (e.keyCode == 13) {
        //FIELD VALUES
        var username = nameField.val();
        var message = messageField.val();

        //SAVE DATA TO FIREBASE AND EMPTY FIELD
        fb.child('messages').push({name:username, text:message});
        messageField.val('');
      }
    });

    // Add a callback that is triggered for each chat message.
    fb.child('messages').limitToLast(10).on('child_added', function (snapshot) {
      //GET DATA
      var data = snapshot.val();
      var username = data.name || "anonymous";
      var message = data.text;

      //CREATE ELEMENTS MESSAGE & SANITIZE TEXT
      var messageElement = $("<li>");
      var nameElement = $("<strong class='example-chat-username'></strong>")
      nameElement.text(username);
      messageElement.text(message).prepend(nameElement.append(": "));

      //ADD MESSAGE
      messageList.append(messageElement)

      //SCROLL TO BOTTOM OF MESSAGE LIST
      messageList.scrollTop(messageList[0].scrollHeight);
    });
    
    
