doctype
html
  head
    title #{title} - Group 14 Prototype
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header
      h1 Group 14 Prototype
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express and Jade
  block scripts

    
    