doctype
html
  head
    title #{title} - Live Hub
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    header
      h1 Live Hub
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p EECE 418 group 14 prototype running on node with Express, Jade and Firebase
  block scripts

    
    